<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//dtd Mapper 3.0//en" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kosea.wallendar.mapper.WallendarMapper">
	
	<select id="getUserList"
		resultType="com.kosea.wallendar.domain.UserVo">
		SELECT * FROM user_tbl
	</select>
	
	<select id="getUser"
		resultType="com.kosea.wallendar.domain.UserVo">
		SELECT * FROM user_tbl where email =#{email}
	</select>
	
	<select id="getPostList"
		resultType="com.kosea.wallendar.domain.PostVo">
		SELECT * FROM post_tbl where usertag = #{usertag} order by
		post_date
	</select>

	<select id="getPost"
		resultType="com.kosea.wallendar.domain.PostVo">
		SELECT * FROM post_tbl where usertag = #{usertag}
	</select>

	<select id="getTags"
		resultType="com.kosea.wallendar.domain.TagVo">
		SELECT * FROM post_tags where usertag = #{usertag} and post_date
		= #{post_date}
	</select>

</mapper>